@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.header-text {
  padding-top: 23px;
  padding-left: 12px;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
